body {
	margin: 20px;
}

/* tables */

.big_table {
	display: table;
	
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.column_titles {
	display: table-row;
	background: white;
	margin: -1px;
}

.big_table td {
	vertical-align: top;
	padding-left: 1em;
	padding-right: 1em;
}

.big_table .main_row td {
	padding-top: 1em;
	border-top: 1px solid #eee;
}

.big_table .main_row td.poster {
	padding-top: 0.66em;
	padding-bottom: 0.66em;
}

.big_table .summary {
	padding-bottom: 0.66em;
}

.big_table .summary,
.big_table .main_row .poster.cell {
	border-bottom: 1px solid #eee;
}

.big_table th .cell {
	border-top: 1px solid #eee;
}

/* forms */

.form1 .s_input_and_label {
	margin-bottom: 1.5em;
}

.form1 label .s_main {
	font-weight: bold;
	margin-bottom: 0.5em;
}

.form1 .s_details {
	display: none;
}

.form1 input[type="text"],
.form1 input[type="password"] {
	font-size: 1.5em;
}

.form1 button,
.form1 input[type="submit"] {
	padding: 0.3em 0.75em;
	font-size: 1.1em;
}