.rcont {
	display: inline-block;
}

.rcont:hover .do_rank {
	display: table;
}

.ranking {
	border-radius: 0.3em;
	background-color: #7bcd72;
}

.ranking {
	display: table;
	cursor: pointer;
}

.c_symbol {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	
	
	font-size: 2em;
	
	/* ↓ Relative to font-size */
	width: 1.75em; 
	height: 1.75em;
	
	background: white;
	border: 2px solid black;
}

.symbol {
	line-height: 1;
}

.ranking {
	/* display: none; */
}

.do_rank {
	display: table;
	display: none; /* gets overridden on .rcont:hover .do_rank */
	border-collapse: collapse;
	
	position: absolute;
	z-index: 1;
}

.option {
	display: table-row;
	
}